@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Variables */
$dark: #485460;
$soft-gray: #d2dae2;
$green-land: #22a6b3;
$pure-apple: #6ab04c;
$carmine: #eb4d4b;

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


/* Utilities */
.green-land {
    background-color: $green-land;
}

.pure-apple {
    color: $pure-apple;
}

.bg-pure-apple {
    background-color: $pure-apple;
}

.carmine {
    color: $carmine;
}

.form-control {
    border-radius: 1px;
   
    
    
}

/* Navbar */
.navbar {
    background-color: $dark;
    padding: 10px;
   
    .nav-link,
    .navbar-brand {
        color: $soft-gray;
    }

    .active {
        color: #fff;
    }
}


/* Header */
input[type=text]:focus {
    border: 1px solid $dark;
}



